@media only screen and (max-width: 320px) {

   body { font-size: 2em; }

}

h5{
    font-size: 1.4em;
}


body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*nav ul li:first-child {
  float: left;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}


li {
  float: right;
}


li a {
  display: block;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;

}

a:hover{
  color:pink;
}


.socials{
display: flex;
justify-content: center;
align-items: flex-end;
padding-top:5px;
}

.socials .linkedin {
  width: 45px;
  height: 45px;
  padding: 2px;
}


.socials .github {
  width: 45px;
  height: 45px;
  padding: 2px;
}


.socials .instagram {
  width: 45px;
  height: 45px;
  padding: 2px;
}


.socials .mail{
  width: 45px;
  height: 45px;
  padding: 2px;
}


.pineapple {
  width: 100%;
  height: 20%;
  padding-bottom: 0;
}



h1{
  position:absolute;
  display: block;
  top:10px;
  font-size: 7vw;
  color:white;
  margin-top: 0px;
}

h3 {
  font-size: 1.5vw;
  position:absolute;
  display: block;
  top:140px;
  left:120px;
  color: white;

}


h4{
  font-size: 3.5vw;
  margin-top: 15px;
  margin-bottom: 10px;
}


.about_and_skills{
  width:100%;
  height:357px;
  border-width: 1px;

}
.about-section{
  width: 40%;
  float:left;
  padding-left: 10%;
  text-align: center;

}

.skills-section{
  width:40%;
  float:right;
  padding-right: 5%;
  text-align: center;
}


.skills img{
  width: 80px;
  height: auto;
  align-items: center;
}


.portfolio-section {
  text-align: center;
  padding-top: 0%;
  margin-top: 0;
  position: relative;
  background-color: #E8E8E8;
}

.portfolio-section img{
  width: auto;
  height: 200px;
  align-items: center;
  padding: 30px;
}


.contact-section {
  text-align: center;
}


